/*
        dokument style.css slouží k nastavení kaskádových stylů pro vybrané komponenty.
*/


*{
    box-sizing: border-box;
}
.nav {
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    display : flex;
    gap : 2rem;
    padding: 0 1rem;
   
}
.nav ul {
    padding : 0;
    margin : 1rem;
    list-style: none;
    display: flex;
    gap : 2rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
}
.nav li:hover{
    background-color: red;
    transition: 0.5s;
}
body{margin : 0;

;}

.Footer {
    background-color:blue;
    margin-top: 600px;
    
    padding: 0.5rem;
    text-align: center;
    
}
.Footer p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.div1{
    margin-left: 0px;
    display:flex;
    flex-direction: row;
    
 
    
}
.h2att{
    text-align: center;
}

.x{padding: 10px;
margin: 10px;}
