<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/event.css">
    <link rel="stylesheet" href="../Style/navbar.css">
</head>
<body>
    <header>
      <nav class="navbar">
        <a href="Events.html">Události</a>
        <a class="onlyLogin" href="User.html">Uživatel</a>
        <a id="login_logout" href="Login.html">Login</a>
  </nav>
      </header>
      <div class="content">
        <div id="baseDescription">
        <h1 id="name">Rock for people</h1>
        <div id="categories">
        </div>
        <p id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque consequatur aperiam officia id ducimus reprehenderit omnis quos mollitia dolores deserunt, dignissimos assumenda eaque adipisci iste nisi odio nobis sequi! Quae?</p>

        </div>

        <div id="details">
          <h2>Čas začátku</h2>
          <h3 id="startTime">23.2. 2023</h3>
          <h2>Čas konce</h2>
          <h3 id="endTime">25.2. 2023</h3>
          <h2>Kraj</h2>
          <h3 id="destrict">Pardubický</h3>
          <h2>Město</h2>
          <h3 id="city">PCE</h3>
          <h2>Ulice</h2>
          <h3 id="street">Fantomova</h3>
          <h2>Číslo popisné</h2>
          <h3 id="bin">347</h3>
        </div>
      </div>

      <script src="../Controller/Event.js"></script>
      <script src="../Model/EventModel.js"></script>
      <script src="../Model/UserModel.js"></script>
      <script src="../Service/userService.js"></script>
</body>
</html>