<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/basicStyle.css">
    <link rel="stylesheet" href="../Style/ResponseToUser.css">
    <link rel="stylesheet" href="../Style/login.css">
    <link rel="stylesheet" href="../Style/buttonStyles.css">


    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="classicNav">     
              <a href="Events.html">Události</a>
              <a class="login_logout" href="Login.html">Login</a>
            </div>
      
      
            <div id="mobileOuterNavDiv" >
               <a id="navIcon" href="/View/Events.html"> <img src="images/icon.png" alt="ikona rozbalení"
                            width="30px" height="30px"> </a>
                        
                        <div id="navNotLogin" class="nav none">
                          <a href="Events.html" id="findEventNavButton">Najít událost</a>
                          <a class="login_logout" href="Login.html">Login</a>
                        </div>
      
            </div>
      
        </nav>
      
    </header>

<main>
    <div id="formContainer" class="hidden">
        <h1 id="loginH">Přihlášení</h1>
            <form id="registrationForm" >

            <div class="inputContainer">
                <label name="username" for="username">UserName</label>
                <input name="username" id="username" type="text" placeholder="Uživatelské jméno">
                <label for="email">Email</label>
                <input name="email" id="email" type="text" placeholder="Email">
                <label for="pass">Password</label>
                <input name="pass" id="pass" type="password" placeholder="Heslo">
                <label for="pass2">Password2</label>
                <input name="pass2" id="pass2" type="password" placeholder="Opakute heslo">
            </div>  

            <div class="inputContainer">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="jméno">
                <label for="surname">Surname</label>
                <input name="surname" id="surname" type="text" placeholder="Přimení">
                <label for="date">Birth</label>
                <input name="birth" id="date" type="date">
                <label for="phone">Phone</label>
                <input name="phone" id="phone" type="phone">
                <button type="submit" id="registerBtn" class="normalBtn">Založit účet</button>
            </div>
   
        
        </form>
        <form id="loginForm">
            <label for="email">Email</label>
            <input name="email" id="email" type="text" placeholder="Email">
            <label for="pass">Password</label>
            <input name="pass" id="pass" type="password" placeholder="Heslo">
            <button id="loginBtn" class="normalBtn">Login</button>
        </form>
      
        
        <button id="switchRegLog" class="normalBtn">Registrace</button>
    </div>
   
</main>

<footer>
    <div id="projectDescription">
    <h2>Aplikace pro správu událostí</h2>
    <p>Tento projekt byl vytvořen jako studentský zápočtový projekt.</p>
    <h3>Autor: Fogl Jakub</h3>
    </div>
  </footer>

    <script src="../Controller/Login.js"></script>
    <script src="../Model/UserModel.js"></script>
    <script src="../Service/ResponseToUserService.js"></script>
    <script src="../Model/BaseModelSupport.js"></script>
    <script src="../Service/userService.js"></script>
    <script src="../Service/mobileNavService.js"></script>
</body>
</html>