<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/navbar.css">
    <link rel="stylesheet" href="../Style/Events.css">
    <link rel="stylesheet" href="../Style/basicStyle.css">
    <title>Events</title>
</head>

<body>
    <nav class="navbar">
      <a href="Events.html">Události</a>
      <a href="User.html">Uživatel</a>
</nav>

<aside id="event_nav">
   <a href="Events.html" id="findEventNavButton">Najít událost</a>
   <a href="MyEvents.html" id="myEventNavButton">Pořádám</a>
   <a href="AttendedEvents.html" id="planAttendNavButton">Plán událostí</a>
</aside>
    
<main>
   <div id="content">
        <div class="eventContainer">
        </div>
      </div>
      </main>
</body>
</html>