<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/navbar.css">
    <link rel="stylesheet" href="../Style/OwnerEvent.css">
    <link rel="stylesheet" href="../Style/Events.css">
    <link rel="stylesheet" href="../Style/error.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <a href="Events.html">Události</a>
        <a class="onlyLogin" href="User.html">Uživatel</a>
        <a id="login_logout" href="Login.html">Login</a>
  </nav>
  
  <aside id="event_nav">
     <a href="Events.html" id="findEventNavButton">Najít událost</a>
     <a href="MyEvents.html" id="myEventNavButton">Pořádám</a>
     <a href="AttendedEvents.html" id="planAttendNavButton">Plán událostí</a>
  </aside>


    <div id="formContainer">
        <h1 id="newOrUpdEvent">Vytvoření nové události</h1>

        <main>
            <form  id="eventForm">
                <div class="inputContainer">
                <label for="name">Název</label>
                <input name="name" id="name" type="text" placeholder="Název">
                    <div id="timeDiv" class="middle">
                        <label for="startTime">Čas začátku</label>
                        <input name="startTime" id="startTime" type="datetime-local">
                        <label id="timeEnd" for="endTime">Čas konce</label>
                        <input name="endTime" id="endTime" type="datetime-local">
                    </div>  

                    <div id="catDiv" class="middle"></div>

                    <div id="placeDiv" class="middle"></div>    
                    

            <label class="middle" for="description">Popis</label>
            <textarea class="middle" name="description" id="description" cols="50" rows="10"></textarea>
            <div id="errorDiv">
            </div>
            <input type="submit" value="Uložit">
            <a href="../View/MyEvents.html">Zrušit</a>
        </div>  
    </form>    
    </div>
        
    </main>
        
        <script src="../Service/errorService.js"></script>
        <script src="../Service/OwnerEventService.js"></script>
        <script src="../Service/PlaceService.js"></script>
        <script src="../Service/CategoryService.js"></script>
        <script src="../Model/PlaceModel.js"></script>
        <script src="../Model/UserModel.js"></script>
        <script src="../Model/EventModel.js"></script>
        <script src="../Model/CategoryModel.js"></script>
        <script src="../Service/userService.js"></script>
        <script src="../Controller/OwnerEvent.js"></script>
</body>
</html>