#registrationForm{
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#formContainer{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 800px;
}

#formContainer h1{
    text-align: center;
}

#formContainer input{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 80%;
    height: 2rem;
    border-radius: 5px;
}

#formContainer label{
    text-align: center;
    margin-top: 20px;
}

#switchRegLog{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.inputContainer{
    width: 30vw;
    height: auto;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.normalBtn{
    margin-top: 0.3em;
}

#switchRegLog{
    margin-top: 0.7em;
}
h1{
    margin-top: 0;
    padding-top: 2em;
}
@media only screen and (max-width: 690px) {
    #registrationForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: auto;
        padding-bottom: 4em;
    }

    .inputContainer{
        width: 80%;
        max-height: 100%;
        height: auto;
    }

    .normalBtn{
        margin-bottom: 0em;
    }


}