.inputContainer{
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
align-items: center;
width: 60vw;
}

#formContainer{
    padding-bottom: 3em;
}

.middle{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],#placeDiv label input, #placeDiv select, label {
    width: 13em;
    margin-top: 0.5em;
}

 
input[type="checkbox"]{
    width: auto;
}

#catDiv label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2em;
}

#timeDiv{
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
width: auto;
}

#catDiv{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    align-items: center;
}

#placeDiv{
    width: 100%;
    text-align: center;
}
 


#timeEnd{
    margin-left: 70px;
}

.buttons{
    display: flex;
    align-items: baseline;
    justify-content: space-between;   
}

.normalBtn{
    margin-top: 0.8em;
}

#submitBtn{
    width: 9em;
    height: 2.4em;
}


@media only screen and (max-width: 680px) {
    
    #placeDiv{
        width: 100%;
    }

    #timeDiv{
        display: inline-block;
    }

    
#timeEnd{
    margin-left: 0px;
}
    
    input, #placeDiv label input, #placeDiv select, label {
        width: 13em;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    label{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.2em;
    }
    
    input[type="checkbox"]{
        width: auto;
    }
    
}